<header class="fixed w-full top-0 z-50 bg-white/80 backdrop-blur-md shadow-sm">
  <div
    class="container mx-auto px-4 lg:px-8 py-6 lg:py-8 flex items-center justify-between"
  >
    <!-- Logo -->
    <div class="font-bold text-2xl lg:text-[32px]">
      <img
        src="https://admission.umsu.ac.id/images/umsu/logo-admisi.png"
        class="w-[180px] h-[45px]"
        alt="UMSU Admission Logo"
      />
    </div>

    <!-- Desktop Menu -->
    <div class="hidden lg:flex items-center space-x-8">
      <a href="#" class="font-medium text-primary text-lg">Beranda</a>
      <a href="#" class="font-normal text-gray-600 text-lg hover:text-primary"
        >Pendaftaran</a
      >
      <a href="#" class="font-normal text-gray-600 text-lg hover:text-primary"
        >Informasi</a
      >
      <a href="#" class="font-normal text-gray-600 text-lg hover:text-primary"
        >Biaya Kuliah</a
      >

      <a href="#" class="font-normal text-gray-600 text-lg hover:text-primary"
        >Kontak</a
      >
    </div>

    <!-- Auth Buttons -->
    <div class="hidden lg:flex items-center space-x-4">
      <button
        class="px-6 py-2.5 rounded-full bg-gradient-to-r from-primary to-blue-500 text-white font-semibold text-lg shadow-md shadow-blue-400/40 hover:shadow-lg hover:shadow-blue-500/50 hover:scale-105 transition-transform duration-300"
      >
        Masuk
      </button>
      <button
        class="px-6 py-2.5 rounded-full border-2 border-blue-500 text-blue-500 font-semibold text-lg hover:bg-sky-500/10 hover:shadow-md hover:shadow-sky-300/30 transition-all duration-300"
      >
        Daftar
      </button>
    </div>

    <!-- Mobile Menu Button -->
    <button class="lg:hidden text-primary">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>
  </div>
</header>
